@import './base.css';

#app {
  position: absolute;
  top: 3rem;
  left: calc(54vw - 640px);
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 1024px) {
  #app {
    left: -4vw;
    width: 100vw;
    overflow: hidden;
  }
}


